body {
    background-color: #f8f9fa; /* Warna latar belakang yang terang */
    color: #343a40; /* Warna teks utama */
    font-family: 'Arial', sans-serif;
}

.container {
    background-color: #ffffff; /* Warna latar belakang kontainer */
    border-radius: 8px; /* Sudut melengkung */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bayangan halus */
    padding: 20px;
}

h1 {
    color: #007bff; /* Warna biru untuk judul */
}

.nav-tabs .nav-link {
    color: #007bff; /* Warna biru untuk tab */
}

.nav-tabs .nav-link.active {
    background-color: #007bff; /* Warna biru untuk tab aktif */
    color: #ffffff; /* Warna teks putih untuk tab aktif */
}

.table {
    border-collapse: collapse; /* Menghilangkan jarak antara border */
}

.table th {
    background-color: #343a40; /* Warna hitam untuk header tabel */
    color: #ffffff; /* Warna teks putih untuk header tabel */
}

.table td {
    border: 1px solid #dee2e6; /* Border tabel */
}

.table tbody tr:hover {
    background-color: #e9ecef; /* Warna latar belakang saat hover */
}

.btn-primary {
    background-color: #28a745; /* Warna hijau untuk tombol */
    border-color: #28a745; /* Border hijau untuk tombol */
}

.btn-primary:hover {
    background-color: #218838; /* Warna hijau gelap saat hover */
    border-color: #1e7e34; /* Border hijau gelap saat hover */
}

#khsChart {
    max-width: 600px;
    margin: auto;
    border: 1px solid #007bff; /* Border biru untuk grafik */
    border-radius: 8px; /* Sudut melengkung */
    background-color: #ffffff; /* Warna latar belakang grafik */
}
